<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <nav>
        <ul>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/">Home Page</a></li>
        </ul>
    </nav>

    <header>
        <h1>My Project</h1>
        <h2>Home Page</h2>
    </header>

    <main>
        <p>My journey to OAuth proficiency</p>
    </main>

</body>
</html>